{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, Engineer!</h1>
        <p class="lead">This is your engineer dashboard where you can view and handle issues assigned to you or that you are following.</p>
        <hr class="my-4">
        <p>Use the navigation bar on the left or the links below to perform tasks.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('engineer.issues') }}" role="button">View Issue List</a>
            {# <a class="btn btn-secondary btn-lg" href="#" role="button">My Follows</a> #}
        </p>
    </div>
{% endblock %} 