{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, Administrator!</h1>
        <p class="lead">This is your management dashboard where you can manage issues, import data and configure system settings.</p>
        <hr class="my-4">
        <p>Use the links below to perform administrative tasks.</p>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" href="{{ url_for('admin.manage_issues') }}" role="button">Manage Issues</a>
            <a class="btn btn-success btn-lg" href="{{ url_for('admin.import_csv') }}" role="button">Import CSV</a>
            <a class="btn btn-warning btn-lg" href="{{ url_for('admin.manage_categories') }}" role="button">Specific Function Management</a>
            <a class="btn btn-info btn-lg" href="{{ url_for('admin.email_config') }}" role="button">Email Configuration</a>
        </p>
    </div>
{% endblock %} 